/*colors*/
$black-text: #1b1a17;
$black-opacity-text: rgba(27, 26, 23, 0.82);
$grey-header-text: #555248;
$darkgrey: #444240;
$beige-bg: #f7f5ef;
$accent-beige: #d4b098;
$favorites-beige: #e6c8b4;
$bg-color: #fdfdfb;
$decor-color: #8b8371;

/* global breakpoints */

$minwidth: 320px;
$mw: 1396px;

/* Fonts */

$font-playfair: 'Playfair Display', 'Times New Roman', serif;
$font-prata: 'Prata', 'Times New Roman', serif;
$font-ptsans: 'PT Sans', 'Arial', sans-serif;
