.decor {
  &::after {
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: block;
    width: 5rem;
    height: 0.1rem;
    background-color: $decor-color;
  }
}
