.news {
  &__inner {
    padding: 8rem 0 9rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__title {
    margin-bottom: 4rem;
  }
  &__content {
    margin-right: 7rem;
  }
  &__info {
    font-size: 1.6rem;
    line-height: 2.7rem;
    color: $darkgrey;
    margin-bottom: 11.8rem;
    b {
      color: #262421;
    }
  }

  &__networks {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  &__network-item a {
    cursor: pointer;
  }

  &__network-item:not(:last-child) {
    margin-right: 1.5rem;
  }

  &__gallery {
    display: grid;
    max-width: 63rem;
    grid-template-columns: 38% 60%;
    grid-template-rows: 22.8rem 22.8rem;
    grid-gap: 1rem;
  }

  &__gallery-item {
    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }

  &__gallery-item:nth-child(2) {
    grid-row: span 2;
  }
}

@media (max-width: 860px) {
  .news {
    &__inner {
      flex-direction: column;
    }
    &__networks {
      margin-bottom: 6rem;
    }
  }
}

@media (max-width: 639px) {
  .news {
    &__inner {
      flex-direction: column;
    }

    &__gallery {
      grid-template-columns: repeat(1, 1fr);
      grid-template-rows: 22.8rem 22.8rem 22.8rem;
    }

    &__gallery-item {
      img {
        object-fit: cover;
        width: 100%;
        height: 100%;
      }
    }

    &__gallery-item:nth-child(2) {
      grid-row: span 1;
    }
  }
}
